$main-violet: #bc20d7;
$text-violet: #821071;

.container {
  width: 98.82dvw;
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.5rem;
      color: $text-violet;
    }
  }

  .guide {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left: 0;
    bottom: 6rem;
    margin-left: 4%;
    .guide-arrow {
      width: 3rem;
      height: 3rem;
      transform: scale(-1, 1);
      cursor: pointer;
      animation: transformation 6s infinite;
    }

    .guide-list {

      h2 {
        color: $text-violet;
        margin-block-start: 0px;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff8f;
      border-radius: 15px;
      padding: 10%;

      .layer-name {
        cursor: pointer;
      }

      .chosen-layer-name {
        text-shadow: $main-violet 3px 0 5px;
      }
    }

    .guide-list-hidden {
      display: none;
    }
  }

  .map {
    width: 100%;
    height: 85%;
  }

  .esri-view-user-storage {
    display: none;
  }

  .esri-ui-inner-container.esri-ui-corner-container {
    position: absolute;
    margin-left: 3%;
    margin-top: 4%;
    width: fit-content;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .esri-icon.esri-icon-minus,
    .esri-icon.esri-icon-plus {
      display: flex;
      width: 3rem;
      height: 3rem;
      margin-top: 1rem;
      background-color: transparent;
      cursor: pointer;
      box-shadow: 1px 0px 5px 1px $main-violet;
      border-radius: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }

    .esri-icon.esri-icon-minus {
        background-image: url('/minus.png');
    }

    .esri-icon.esri-icon-plus {
        background-image: url('/plus.png');
    }

    .esri-icon-font-fallback-text {
      display: none;
    }
  }

  .esri-component.esri-attribution.esri-widget {
    display: flex;
    font-size: 0.8rem;
    font-family: "Courier New", Courier, monospace;
    padding-top: 0.3%;
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15%;

    .year,
    .author {
      font-size: 1rem;
      font-family: "Courier New", Courier, monospace;
    }

    .author {
      margin-right: 1%;
      cursor: pointer;
      color: $main-violet;
    }

    .author:hover {
      font-weight: 600;
    }
  }

  @keyframes transformation {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(90deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    75% {
      transform: rotateY(270deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

